[Unit]
Description=gunicorn instance to server api(fastapi)
After=network.target

[Service]
User=helix
Group=helix
WorkingDirectory=/home/helix/app/src/fastapi
Environment="PATH=/home/helix/app/venv/bin"
EnvironmentFile=/home/helix/.env
ExecStart=/home/helix/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target